@font-face {
    font-family: 'Courier'; /* Give your font a name */
    src: url('../fonts/CourierPrime-Regular.woff2') format('woff2'), /* Modern browsers */
         url('../fonts/CourierPrime-Regular.woff') format('woff');   /* Older browsers */
    font-weight: normal; /* Define the weight for this specific file */
    font-style: normal;
    font-display: swap; /* Important for performance: show fallback text while loading */
}

body {
    font-family: Courier, serif;
    background-color: #313131ff;
}

h1 {
    color: #e29a86;
}

h2 {
    color: #e29a86ff;
}

p {
    color: #ffeae2;
}

a {
    color: #e2d086;
}

#footer {
    color : #e1ff00ff;
}

th, td, table{
    color: #ffeae2;
    border: 1px solid #ffeae2;
    border-collapse: collapse;
    padding: 5px;
}

.plugin_container {
    padding: 4vh;
    margin-top: 1vh;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #e29a86ff;
}

.container {
    padding: 4vh;
    margin-top: 1vh;
}

.navbar {
    list-style: none;
}

.profile_image {
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #e29a86ff;
}